* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1 {
  font-size: 40px;
  color: #e5eaf5;
  margin-bottom: 30px;
}
p {
  font-family: serif;
}
.app {
  width: 800px;
  height: 500px;
  background-color: whitesmoke;
  padding: 50px 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.inputfield label {
  display: inline-block;
  width: 400px;
  font-size: 20px;
}

.inputfield {
  display: flex;
  flex-direction: column;
}

input {
  margin: 20px 0px;
  width: 300px;
  padding: 10px;
}

button {
  padding: 10px 0px;
  width: 100px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  font-weight: bold;
  background-color: rgb(47, 44, 44);
  color: #e5eaf5;
}

button:hover {
  background-color: grey;
}

.output {
  padding: 20px 0px;
  font-size: 24px;
  font-weight: bold;
}
